<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="">
    </head>
    <body>
        <div id="root"></div>
        <script src=""></script>
        <script>
            // var startApp = sherpa.startApp;
            // startApp(
            //     document.getElementById('root'),
            //     {},
            //     {{ urls|safe }},
            //     {{ BUILD|safe }},
            //     {{ user|safe }}
            // );
        </script>
    </body>
</html>
