<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, user-scalable=yes, shrink-to-fit=no">
  <title>Error</title>
</head>
<body>
  <div>
    <h1>{{code}} {{reason}}</h1>
  </div>
  <div>
    <img src="https://media.giphy.com/media/26gZ1Ye2gkRUxtj9u/giphy.gif">
  </div>
</body>
</html>
